@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-slate-900 m-0 p-0;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom shadow for your luxury cards */
.group:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}